 body{
   box-sizing: border-box
 }
 .row 
{
  right: 0px;
  margin: 30px;
  // margin-left: 45px;
}
.row .category
{
  // margin-left: 1px;
  text-align: right;
  color:#355C7D;
  text-shadow: #FC0 1px 0 10px;
}
  .row {
    max-width: 97% !important;
  }
