<div class="container-fluid">
  <!-- <div class="container"> -->

  <div class="row ">

    <div class="col-sm-1 ">
      <a routerLink="/shopping-cart" class="btn btn-danger">סל קניות <span class="glyphicon glyphicon-shopping-cart"
          aria-hidden="true"></span>

      </a>
      <!-- <input type="text" class="form-control-inline" placeholder="..חפש לפי שם ספר או שם סופר" [(ngModel)]="searchText"> -->
    </div>

    <div class="col-sm-3" style="text-align:left">

      <input type="text" class="form-control-inline" placeholder="..חפש לפי שם ספר או שם סופר" [(ngModel)]="searchText">

    </div>
    <div class="col-sm-8  category">

      <h1> {{category}}</h1>
    </div>
    <!-- <div class="col-md-4">

      <h1 align="center"> <img align="left" src="assets/img/ספרים-חודש.jpg" alt="image" Height="100px" width="100px">
        {{category}}</h1>
    </div> -->

  </div>
  <div class="row   ">

    <!-- List of Products -->
    <div class=" mb-2 mr-3" *ngFor='let book of books| filter : category : "category" | filter : searchText: "name" '
      cols="5">
      <div class="item">
        <app-book-card [book]="book"></app-book-card>


        <!--/.item-->
      </div>
      <!--/.col-sm-4 mb-2 mr-5-->
    </div>

    <!--/.col-md-9-->

  </div>

  <!--/.container-fluid-->

</div>





<pagination-controls (pageChange)="p=$event"></pagination-controls>
<ng2-toasty></ng2-toasty>