<div class="container">
    <div class="row">
        <div class="text-left" style="  padding:0px;">
            <a routerLink="/shopping-cart" class="btn btn-danger">סל קניות
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-lg-10">
            <h2 align="right"> <strong> ברוכים הבאים</strong> </h2>
            <h1 align="center"> 
                <strong> -גשם של ספרים </strong> </h1>
            <h2 align="left"> <strong> קרן רבינר </strong> </h2>
        </div>
        <br> <br> <br>
    </div>
    
    <div  class="row">
            <div  align="center" class="col">
            </div>
        <div class="col-lg-10">
            <div class="lit">
                <address>

                    <h2> <strong>ספרי יד 2</strong><br> </h2>
                    <!-- <img  align="left" src="assets/img/22.jpg" alt="image" class="pic"> -->
                    <img  align="left" src="assets/img/image1.jpeg" alt="image" class="pic">
 
                    <br><br>
                 
                    מכל הסוגים במחירים זולים<br>
                    ניתן ליצור קשר באמצעות טלפון<br>
                    <abbr title="Phone">P:</abbr> 0522578392<br>
                    <a href="mailto:#">kbook@walla.com</a><br>
                    איסוף מרחוב מנחם בגין 53,חולון
                    <br>
                    יש אפשרות למשלוחים בדואר החל מקנייה ב20 ש"ח

                </address>
            </div>
        </div>

    </div>
</div>