/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 0px;
  background-color: rgb(185, 50, 50);
  font-family: arial, sans-serif;
  font-size: 14px;

}

/* Applies to all <h1>...</h1> elements. */
h1 {
  font-weight: normal;
  color: rgb(36, 164, 168);
  margin: 0px auto;
  position: relative;
  //right: 120px;
  padding-top:0px;
  float:right;
  width:75%;

}

h2 {

  font-weight: normal;
  margin-top: 0px;
  color: rgb(6, 35, 90);
  margin: 0px auto;
  position: relative;
 // right: 120px;
  padding-top:0px;
  width:75%;
  float:right;
  padding: 0;
 

}
.lit{

 // right: 650px;
  border: 4mm ridge rgba(173, 169, 175, 0.6);
  text-align: right;
  font-size: 20px;
//  margin: 20px auto;
  position: relative;

  padding-top:0px;
//  width:100%;
  float:right;
 }
/* Applies to all elements with <... class="someclass"> specified. */
.pic{
height:80px;
width:80px;
}
@media (min-width: 768px) {
  h1 {
 //   right: 20px;

    width:100%;
    font-size: 100px;
  }
  .lit{
top:100px;
    left: 30px;
    border: 4mm ridge rgba(173, 169, 175, 0.6);
    text-align: right;
    font-size: 20px;
  //  margin: 20px auto;
    position: relative;

    padding-top:0px;
  //  width:100%;
    float:right;
   }
   .pic{
    height:150px;
    width:150px;
  }

}