/* show the collapse when navbar toggle is checked */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.css");
body {
  padding-top: 0px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: fixed;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    background:hsla(180, 9%, 98%, 0.986);
    padding-right: 0px;

  }
  .menu li {
    display:inline-block;
  }
  
  .menu li.active {
    background-color:#1A77FF;
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -40%;
  }

  .row-offcanvas-left.active {
    left: 40%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%;
    margin-left: 12px;
  }
}
.fa-heart {
  color: #3f51b5;
}
span.round-tabs.one {
  color: #22c222;
  border: 2px solid #22c222;
}
span.round-tabs.two {
  color: #febe29;
  border: 2px solid #febe29;
}
span.round-tabs.three {
  color: #3e5e9a;
  border: 2px solid #3e5e9a;
}
span.round-tabs.four {
  color: #f1685e;
  border: 2px solid #f1685e;
}
span.round-tabs {
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  border-radius: 100px;
  background: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 25px;
}
#sidebar {
    padding:40px;
    margin-top:15px;
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

/* the checkbox used only internally; don't display it */
#navbar-toggle-cbox {
  display:none
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  right: 20px;
  margin-right: 100px;
  text-align: right;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right:120px;
  border-radius: 3px;
  font-size: 10px;

  /* top layer */
  z-index: 9999;
}


#sidebar ul li a {
  border-radius: 3px;

  font-size: 1.1em;
  display: block;
  text-align: right;
      font-weight: bold;

}
